.info-container {
  background-color: $lemon;
  border-radius: 16px;
  width: 900px;
  display: flex;
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 20px 10px;
}
