$blue: #0D3B66;
$lemon: #FAF0CA;
$yellow: #F4D35E;
$brown: #EE964B;
$tomato: #F95738;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(0.25turn, $brown,$tomato);
}

h3 {
  font-size: 22px;
}

@import "form-container";
@import "info-container";
